---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <!-- title -->

  <h1 class="page-title post-title">
    <div class="page-title__text post-title__text">{{ page.title }}</div>
    <div class="page-title__subtitle post-title__subtitle">{{ page.subtitle }}</div>
  </h1>


  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="about">
    <div class="about__devider">*****</div>
    <div class="about__text">
      Written by <strong> {% if page.author.fullname %} {{ page.author.fullname }} {% else %} {{ site.author.fullname }} {% endif %}</strong>
      on <strong>{{ page.date | date: "%d %B %Y" }}</strong>
    </div>
  </div>

</article>
